productinfo/.idea/*
productinfo/client/client
productinfo/service/service

*.sum

interceptors/.idea/*
interceptors/client/client
interceptors/server/server
interceptors/.DS_Store

grpc-gateway/.idea/*
grpc-gateway/client/client
grpc-gateway/server/server
grpc-gateway/.DS_Store

healthcheck_client/healthcheck_client
